<!DOCTYPE html>
<html>
<head>
<title>Oscar Project</title>
</head>
<body>

<h1>Base Skeleton Code</h1>
<form action="http://127.0.0.1:5000" method="POST">
	<h2>Oscar Award</h2>
	
	<label for="mname">Movie Name:</label><br>
	<input type="text" id="mname" name="mname"><br>
	
	<label for="category">Category:</label><br>
	<input type="text" id="category" name="category"><br>
	
	<label for="year">Year:</label><br>
	<input type="text" id="year" name="year"><br>
	
	<label for="winner">Winner:</label><br>
	<input type="text" id="winner" name="winner"><br>
  
	<input type="submit" value="Submit">
</form>


</body>
</html>